
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
  <!-- <script type="text/javascript" src="src/assets/jsGrid/jsgrid-1.5.3/jsgrid.min.js"></script> -->
<style>

</style>
 
  
  <!-- <app-header></app-header>
  <app-navigation></app-navigation> -->
  
      
    <div class="color-line"></div>
      <div id="windw-height">
          <div class="map-content" width="100%" style="height: 700px;" >
            <div id="viewDiv2" >
              <div id="toolbarDiv" class="esri-component esri-widget">
              <button id="distance" class="esri-widget--button esri-interactive esri-icon-measure-line" title="Distance Measurement Tool">
              </button>
              <button id="area" class="esri-widget--button esri-interactive esri-icon-measure-area" title="Area Measurement Tool">
              </button>
              <button id="clear" class="esri-widget--button esri-interactive esri-icon-trash" title="Clear Measurements">
              </button>
            </div>
          </div>
        </div>
      <div class="clearfix"></div>
    </div>
  
  <!-- <app-esri-map></app-esri-map> -->
  
  
    
      
      <!-- <app-footer></app-footer> -->
  
